:root {
  --slate-1: #111113;
  --slate-2: #18191b;
  --slate-3: #212225;
  --slate-4: #272a2d;
  --slate-5: #2e3135;
  --slate-6: #363a3f;
  --slate-7: #43484e;
  --slate-8: #5a6169;
  --slate-9: #696e77;
  --slate-10: #777b84;
  --slate-11: #b0b4ba;
  --slate-12: #edeef0;
  --slate-a1: #00000000;
  --slate-a2: #d8f4f609;
  --slate-a3: #ddeaf814;
  --slate-a4: #d3edf81d;
  --slate-a5: #d9edfe25;
  --slate-a6: #d6ebfd30;
  --slate-a7: #d9edff40;
  --slate-a8: #d9edff5d;
  --slate-a9: #dfebfd6d;
  --slate-a10: #e5edfd7b;
  --slate-a11: #f1f7feb5;
  --slate-a12: #fcfdffef;
  --blue-1: #0d1520;
  --blue-2: #111927;
  --blue-3: #0d2847;
  --blue-4: #003362;
  --blue-5: #004074;
  --blue-6: #104d87;
  --blue-7: #205d9e;
  --blue-8: #2870bd;
  --blue-9: #0090ff;
  --blue-10: #3b9eff;
  --blue-11: #70b8ff;
  --blue-12: #c2e6ff;
  --purple-1: #18111b;
  --purple-2: #1e1523;
  --purple-3: #301c3b;
  --purple-4: #3d224e;
  --purple-5: #48295c;
  --purple-6: #54346b;
  --purple-7: #664282;
  --purple-8: #8457aa;
  --purple-9: #8e4ec6;
  --purple-10: #9a5cd0;
  --purple-11: #d19dff;
  --purple-12: #ecd9fa;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--slate-12);
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  background-color: var(--blue-1);
  color: var(--slate-12);
  padding: 3rem 1rem 1rem 1rem;
}

.section-container {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: left;
}

#under-construction {
  position: sticky;
  margin: 0;
  width: 90%;
  text-align: center;
  top: 1rem;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--slate-a12);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--slate-1);
}

h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
}

h2 {
  display: flex;
  gap: 1rem;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.025em;
}

h5 {
  font-size: 16px;
  text-align: center;
}

.avatar {
  border-radius: 100%;
  height: 128px;
  width: 128px;
}

.buttonlist {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 1rem;
  max-width: 600px;
}

.buttonlist a {
  display: flex;
  flex: 1 0 30%;
  justify-content: space-between;
  gap: 1rem;
  line-height: 24px;
  font-weight: 600;
  border-radius: 0.5rem;
  color: var(--slate-1);
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--slate-a12);
  backdrop-filter: blur(5px);
}

.buttonlist a:hover {
  box-shadow: 0px 0px 0px 6px var(--slate-a11);
}
