.app {
  display: flex;
  justify-content: center;
  position: relative;
}

.gradientContainer {
  position: absolute;
  top: 0;
  height: 70vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  z-index: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  background: linear-gradient(
    -45deg,
    var(--blue9),
    var(--purple9),
    var(--pink9),
    var(--amber9)
  );
  width: 100%;
  height: 100%;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

main {
  width: min(1080px, 100%);
  border: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 0rem;
  z-index: 1;
}

.left {
  padding: 0rem 1rem;
}

.right {
  padding: 0rem 1rem;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

img {
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  border-style: none;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--blue1);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}
