@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap");
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purpleDark.css";

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--blue12);
}

body {
  background-color: var(--blue1);
}
