@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purpleDark.css";

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--blue1);
  line-height: 150%;
}

body {
  background-color: var(--blue1);
}
